<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index :: head}">
    
</head>
<body>
    <div th:insert="~{index :: navbar}"></div>
    <div class="vh-100">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex my-5 justify-content-between align-item-center">
                    <h1 th:text="${title}"></h1>
                </div>
                <div class="col-12 my-5">
                    <form th:action="@{/operations/career/request/save}" method="POST" th:object="${careerRequest}" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="body" class="form-label">Motivo della richiesta</label>
                            <textarea th:field="*{body}" id="body" class="form-control" placeholder="Inserisci la motivazione..."></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="role" class="form-label">Per quale ruolo?</label>
                            <select th:field="*{role}" id="role" class="form-select">
                                <option  th:each="role:${roles}" th:value="${role.id}" th:text="${#strings.substring(role.name,5)}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Invia richiesta</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div th:insert="~{index :: footer}"></div>
    <div th:replace="~{index :: bootstrapScript}"></div>
</body>
</html>