<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}">

</head>

<body>
    <div th:insert="~{index :: navbar}"></div>

    <div class="vh-100">
        <div th:if="${resultMessage}" class="alert alert-success">
            <p th:text="${resultMessage}"></p>
        </div>
        <div class="row">
            <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                <span class="h1">Dashboard Writer</span>
            </div>

            <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                <span class="h1" th:text="${title}"></span>
            </div>

            <div class="col-12">
                <table class="table table-stripped table-responsive-lg">
                    <thead>
                        <tr>
                        <th>Id</th>
                        <th>Title</th>  
                        <th>Sottotitolo</th>
                        <th>Categoria</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}"></td>
                            <td th:text="${article.title}"></td>
                            <td th:text="${article.subtitle}"></td>
                            <td th:if="${article.category }" th:text="${article.category.name}"></td>
                            <td th:unless="${article.category }" >Nessuna Categoria</td>
                            <td>
                                <a th:href="@{/articles/detail/{id}(id=${article.id})}"
                                    class="btn btn-primary m-2">
                                    <i class="fa-solid fa-bars"></i>
                                </a>
                                 <a th:href="@{/articles/edit/{id}(id=${article.id})}"
                                    class="btn btn-primary m-2">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                 <a th:href="@{/articles/delete/{id}(id=${article.id})}"
                                    class="btn btn-primary m-2">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




    <div th:insert="~{index :: footer}"></div>
    <div th:replace="~{index :: bootstrapScript}"></div>
</body>

</html>